<html ng-app="app" ng-controller="Core as vm">
<head>
    <title>Accesa | Knowledge Sharing Platform</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />

    <script src="js/angular.js"></script>
    <script src="js/angular-ui-router.js"></script>

    <script src="app/app.js"></script>

    <script src="app/channels/channels.module.js"></script>
    <script src="app/channels/channels.js"></script>

    <script src="app/core/core.module.js"></script>
    <script src="app/core/core.js"></script>
    <script src="app/core/dataservice.js"></script>

    <script src="app/posts/posts.module.js"></script>
    <script src="app/posts/posts.js"></script>
    
    <script src="app/dashboard/dashboard.module.js"></script>
    <script src="app/dashboard/dashboard.js"></script>

</head>
<body class="container-fluid">
    <div class="row">
        <div ui-view="sidebar" class="col-sm-3 sidebar">
            <div class="user">
                <a ui-sref="dashboard">
                    <h1>{{vm.user.FirstName}} {{vm.user.LastName}}</h1>
                </a>
            </div>
            <ul class="list-group">Channels</ul>
            <ul class="list-group">
                <a ui-sref="posts({title:channel.Name,type:'channel',id:channel.Id})" class="list-group-item" ng-repeat="channel in vm.channels">
                    {{::channel.Name}}
                </a>
                <a ui-sref="channels" class="list-group-item">
                    See all
                </a>
            </ul>
            <ul class="list-group">My Cells</ul>
            <ul class="list-group">
                <a ui-sref="posts({title:orgstructure.Name,type:'orgstructure',id:orgstructure.Id})" class="list-group-item" ng-repeat="orgstructure in vm.orgstructures">
                    {{::orgstructure.Name}}
                </a>
            </ul>
        </div>
        <div ui-view class="col-sm-6"></div>
        <div class="col-sm-3">
            <h1>
                To Do
            </h1>
            <div class="posts">
                <div class="post" ng-repeat="post in vm.posts">
                    <div class="content">
                        <p>
                            {{post.Content}}
                        </p>
                    </div>
                    <div class="buttons">
                        <h2 ng-click="vm.setAsDone(post)"><span class="glyphicon glyphicon-ok" ng-class="{'bookmarked':post.IsDone}"></span></h2>
                    </div>
                </div>
            </div>
            <div class="progres">
                <h1>Progress</h1>
                <h2>{{vm.progress|number:0}} %</h2>
            </div>
        </div>
    </div>
</body>
</html>
