<html ng-app="app" ng-controller="Core as vm">
<head>
    <title>Accesa | Knowledge Sharing Platform</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />

    <script src="js/bootstrap.js"></script>

    <script src="js/angular.js"></script>
    <script src="js/angular-ui-router.js"></script>

    <script src="app/app.js"></script>

    <script src="app/channels/channels.module.js"></script>
    <script src="app/channels/channels.js"></script>

    <script src="app/core/core.module.js"></script>
    <script src="app/core/core.js"></script>
    <script src="app/core/dataservice.js"></script>

    <script src="app/posts/posts.module.js"></script>
    <script src="app/posts/posts.js"></script>

</head>
<body class="container-fluid">
    <div class="row">
        <div ui-view="sidebar" class="col-sm-3 sidebar">
            <div class="user">
                <a ui-sref="posts({type:'todo'})">
                    <h1>{{vm.user.FirstName}} {{vm.user.LastName}}</h1>
                </a>
            </div>
            <ul class="list-group">
                <a ui-sref="posts({type:'channel',id:channel.Id})" class="list-group-item" ng-repeat="channel in vm.channels">
                    {{::channel.Name}}
                </a>
            </ul>
            <ul class="list-group">
                <a ui-sref="channels" class="list-group-item">
                    Channels
                </a>
            </ul>
            <ul class="list-group">
                <a ui-sref="posts({type:'orgstructure',id:orgstructure.Id})" class="list-group-item" ng-repeat="orgstructure in vm.orgstructures">
                    {{::orgstructure.Name}}
                </a>
            </ul>
        </div>
        <div ui-view class="col-sm-6"></div>
    </div>
</body>
</html>
