<div>
    <a ui-sref="posts({type:'todo'})">
        <h1>{{vm.user.FirstName}} {{vm.user.LastName}}</h1>
    </a>
    <ul class="list-group">
        <a ui-sref="posts({type:'channel',id:channel.Id})" class="list-group-item" ng-repeat="channel in vm.channels">
            {{::channel.Name}}
        </a>
    </ul>
    <ul class="list-group">
        <a ui-sref="channels" class="list-group-item">
            Channels
        </a>
    </ul>
    <ul class="list-group">
        <a ui-sref="posts({type:'orgstructure',id:orgstructure.Id})" class="list-group-item" ng-repeat="orgstructure in vm.orgstructures">
            {{::orgstructure.Name}}
        </a>
    </ul>
</div>