<div>
    <a ui-sref="posts({type:'todo'})">
        <h1>User Name</h1>
    </a>
    <ul class="list-group">
        <a ui-sref="posts({type:'posts',id:channel.id})" class="list-group-item" ng-repeat="channel in vm.channels">
            {{::channel.name}}
        </a>
    </ul>
    <ul class="list-group">
        <a ui-sref="channels" class="list-group-item">
            Channels
        </a>
    </ul>
    <ul class="list-group">
        <a ui-sref="posts({type:'orgstructure',id:orgstructure.id})" class="list-group-item" ng-repeat="orgstructure in vm.orgstructures">
            {{::orgstructure.name}}
        </a>
    </ul>
</div>