.post:first-child, .channel:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.post:last-child, .channel:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.post, .channel {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

    .post > div, .channel > div {
        display: inline-block;
    }

    .post .content, .channel .content {
        width: 66%;
        float: left;
    }

        .post .content > p {
            margin: 10px 0;
        }

        .channel .content > h2 {
            margin: 5px;
        }

    .post .buttons, .channel .buttons {
        width: 32%;
        cursor: pointer;
    }

        .post .buttons > h2, .channel .buttons > h2 {
            display: inline-block;
            float: right;
            margin: 5px;
        }

.glyphicon-star-empty {
    color: #000;
}

.glyphicon-star {
    color: #FAC12F;
}

.glyphicon-ok {
    color: #000;
}

    .glyphicon-ok.bookmarked {
        color: #51B827;
    }

.container {
    height: 100%;
}

.row {
    height: 100%;
}

.sidebar {
    height: 100%;
    background-color: #52B6CC;
}

    .sidebar .user a {
        color: #fff;
    }

        .sidebar .user a:hover {
            text-decoration: none;
        }
